@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i&display=swap');

body {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace; 
  text-align: center;
  background: url(https://res.cloudinary.com/flickscode/image/upload/v1563051997/cool-background_loje86.png);
}

#main {
  padding: 5em;
  
}

 #title {
   padding: 5px;
  display: inline-block;
  font-size: 8vw;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .03em;
  animation:
    typing 3.5s steps(20, start),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from {width: 0}
  to {width: 60%}
}
@keyframes blink-caret {
  from, to {border-color: transparent}
  50% {border-color: orange}
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

blockquote {
  font-style: italic;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
}

#image {
  display: block;
  max-width: 100%;
  margin: 3em auto;
}
ul {
  text-align: left;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  text-transform: capitalize;
}
#img-caption {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  text-align: left;
}
#title, blockquote, #img-caption, ul {
  opacity: .9;
}
ul li{
  letter-spacing: .2em;
}
#tribute-link:hover {
  color: red;
}
